/* Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

/* Body */

#bloc_page
{
	width: 90%;
    margin: 0 auto;
    font-family: 'Raleway', Arial, Verdana, sans-serif;
    color: black;
}


/* En-tête de page */

header
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

nav ul
{
	list-style: none;
	display: flex;
    height: 60px;
    font-size: 14px;
}

nav li
{
    margin-right: 50px;
    height: 60px;
    line-height: 60px;
}

nav a
{
    text-decoration: none;
}

nav li a:hover
{
  color: #0065FC;
  border-top: 3px solid #0065FC;
  padding-top: 50px;

}


/* Section 1 */

#titre_hebergement h1
{
    font-weight: 900;
    margin-top: 25px;
}

#titre_hebergement p
{
    margin-bottom: 20px;
}

/* Barre de recherche */


#rechercher
{
   display: flex;
   margin-bottom: 30px;
}

#logo_recherche
{
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    padding: 12px;
    font-size: 20px;
}

#recherche
{
    width: 220px;
    height: 45px;
    border: 1px solid #F2F2F2;
    padding: 0 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.boutonRechercher
{
    width: 130px;
    height: 45px;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.rechercher_loupe
{
    display: none;
}



/* Filtres */

#filtre_flex
{
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}
    

.lien_filtre i
{
   margin-right: 10px;
   background-color: #DEEBFF;
   border-radius: 25px;
   width: 50px;
   height: 50px;
   color: #0065FC;
   align-items: center;
   justify-content: center;
   display: flex;
}


.lien_filtre
{
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    border: 3px solid #F2F2F2;
    border-left: none;
    margin-left: 30px;
    padding-right: 20px;
    border-radius: 25px;
    font-size: 14px;
    align-items: stretch;
    display: flex;
}

.lien_filtre:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}

#information
{
    margin-top: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#information i
{
    margin-right: 15px;
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Hébergements à Marseille */

.hotel
{
    width: 65%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 25px;
}    

#hebergements
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#hebergements a
{
    text-decoration: none;
    width: 30%;
}

.hotel_flex
{
    padding: 5px;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 20px #c1c1c1;
    margin-bottom: 30px;
    margin-top: 10px;
    overflow: hidden;
    text-align: justify;
}

.photo_hotel
{
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 120px;
    object-fit: cover;
}


.hotel_flex h3
{
    margin: 5px 0 0 10px;
    font-size: 13px;
}

.hotel_flex p
{
    margin: 8px 0 8px 10px;
    font-size: 12px;
}

.etoile_hotel
{
    font-size: 12px;
    margin-left: 10px;
    text-decoration: none;
}

.etoile_bleu
{
    color: #0065FC;
}

.etoile_grise
{
    color: #d9d9d9;
}

a:visited
{
    color: black;
}


#afficher_plus
{
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}



/* Aside - Les plus populaires */

#section_2
{
    display: flex;
}

aside
{
    margin-left: 2%;
    padding: 2px;
    background-color: #F2F2F2;
    border-radius: 25px;
    width: 30%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    box-sizing: border-box;
}

aside h2
{
    margin: 25px 0 10px 20px;
}

#titre_logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titre_logo i
{
    margin: 25px 30px 0 0;
    font-size: 18px;   
}


.hotel_populaire
{
    margin: 0 auto;
    padding: 5px;
    width: 85%;
    height: 145px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 20px #C1C1C1;
    display: flex;
    margin-bottom: 20px;
    margin-top: 25px;
}

.photo_populaire
{
    border-radius: 25px 0 0 25px;
    width: 40%;
    height: 100%;
    object-fit: cover;   
}

.description_hotel
{
    text-decoration: none;
    padding-left: 10px;
}

.etoile_populaire2
{
    margin-top: 60px;
    font-size: 10px;
}

.etoile_populaire1
{
    margin-top: 60px;
    font-size: 10px;
}

#populaire a
{
    text-decoration: none;
}

.info_hotel p
{
    
    font-size: 12px;
}

.info_hotel h3
{
    font-size: 13px;
}




/* Activité à Marseille */


#activite_marseille a
{
    text-decoration: none;
}

#activite_marseille
{
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 600px;
    font-size: 12px;
}

#activite_ancre
{
    margin: 70px 0 20px 0;
}

 
.colonne11
{
    width: 23%;
}

.colonne22
{
    width: 23%;
}

.colonne33
{
    width: 23%;

}

.colonne44
{
    width: 23%;
}


.activite1, .activite4
{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px #c1c1c1;
    max-height: 600px;
    max-width: 100%;
}

.activite2
{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px #c1c1c1;
    max-height: 300px;
    max-width: 100%;
    margin-bottom: 28px;
}

.activite3
{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px #c1c1c1;
    max-height: 315px;
    max-width: 100%;   
}

.activite5
{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px #c1c1c1;
    margin-bottom: 30px;
    max-height: 300px;
    max-width: 100%;
}

.activite6
{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px #c1c1c1;
    max-height: 325px;
    max-width: 100%;
}

.photo_activite1, .photo_activite4
{
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.photo_activite2
{
    height: 250px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}


.photo_activite3
{
    height: 165px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.photo_activite5
{
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.photo_activite6
{
    height: 275px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
} 


#activite_marseille h3
{
    padding-left: 15px;
}



/* Pied de page */

footer
{

    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    padding: 40px 40px 50px;
    font-size: 13px;
}


footer li
{
    list-style: none;
    margin-bottom: 10px;
}

footer ul
{
    margin-right: 50px;
    padding-left: 0;
}

footer a
{
    text-decoration: none;
}

footer a:hover
{
    font-weight: 500;
    color: #0065FC;
}



@media screen and (min-width: 768px) and (max-width: 991px)
{
    
    #bloc_page
    {
        width: 95%;
        margin-right: 0;
    }

    /* En tête de page */
    header
    {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav 
    {
        width: 100%;
    }

    nav ul
    {
        padding: 0;
    }

    nav li 
    {
        width: 50%;
        text-align: center;
        margin: 0;
    }
    
    nav li:hover
    {
        border-bottom: 3px solid #0065FC;
        padding-bottom: 8px;
    }

    nav li a:hover
    {
        border-top: none;
    }
   
    nav li
    {
        font-size: 18px;
    }

    

    #titre_hebergement p
    {
        font-size: 14px;
    }

    
    /* Barre de recherche */
    
    .boutonRechercher
    {
        display: none;
    }

    .rechercher_loupe
    {
        display: block;
        width: 45px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
    }


    /* Filtres */

    #filtre_flex
    {
        flex-flow: row wrap;
        width: 95%;
    }

    .lien_filtre
    {
        width: 230px;
        margin-bottom: 10px;
    }



    /* Les plus populaires */

    aside
    {
        width: auto;
        margin-bottom: 20px;
        margin-left: 0;
    }

    aside:nth-child(2)
    {
        order: 1;
    }

    #titre_logo
    {
        font-size: 16px;
    }

    #titre_logo i
    {
        font-size: 20px;
    }

    .hotel_populaire
    {
        width: 90%
    }

    .photo_populaire
    {
        width: 25%;
        height: auto; 
    }

    .info_hotel h3
    {
        font-size: 18px;
    }

    .info_hotel p
    {
        font-size: 16px;
    }

    .etoile_populaire2
    {
        margin-top: 40px;
    }

    .etoile_populaire1
    {
        margin-top: 50px;
    }

    /* Hébergements à Marseille */

    #section_2
    {
        flex-direction: column;
        width: 95%;
    }

    .hotel
    {
        width: auto;
    }

    .hotel:nth-child(1)
    {
        order: 2;
    }

    .hotel_flex h3
    {
        font-size: 14px;
    }

    .hotel_flex p
    {
        font-size: 13px;
    }

    /* Activités à Marseille */

    #section_3
    {
        width: 95%;
    }

    #activite_marseille
    {
        width: 90%;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-left: 40px;
    }

    .activite1,
    .activite2,
    .activite3,
    .activite4,
    .activite5,
    .activite6
    {
        width: 380px;
        height: 180px;
        margin-bottom: 20px;
    }

    .photo_activite1,
    .photo_activite2,
    .photo_activite3,
    .photo_activite4,
    .photo_activite5,
    .photo_activite6
    {
        width: 380px;
        height: 130px;
    }

    .colonne11
    {
        width: 48%;        
    }

    .colonne22
    {
        width: 48%;
    }

    .colonne33
    {
        width: 48%; 
    }

    .colonne44
    {
        width: 48%;
    }




    /* Footer */
    footer
    {
        width: 85%;
    }
}


@media screen and (max-width: 767px)
{
    #bloc_page
    {
        width: 100%;
    }

    /* En tête de page */
    header
    {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav 
    {
        width: 100%;
    }

    nav ul
    {
        padding: 0;
    }

    nav li 
    {
        width: 50%;
        text-align: center;
        margin: 0;
        font-weight: 500;
    }
    
    nav li:hover
    {
        border-bottom: 3px solid #0065FC;
        padding-bottom: 5px;
    }

    nav li a:hover
    {
        border-top: none;
    }
   
    nav li
    {
        font-size: 18px;
    }


    #titre_hebergement
    {
        margin-left: 20px;
        font-size: 16px;
    }

    /* Barre de recherche */
    .boutonRechercher
    {
        display: none;
    }

    #rechercher
    {
        margin-left: 20px;
    }

    .rechercher_loupe
    {
        display: block;
        width: 45px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
    }


    /* Filtres */
    #filtre_flex
    {
        flex-flow: column wrap;
        width: 95%;
        margin-left: 20px;
    }

    .lien_filtre
    {
        width: 230px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    #information
    {
        margin-left: 20px;
    }

    
    /* Aside - Les plus populaires */
    
    aside
    {
        width: auto;
        margin-left: 0;
        border-radius: 0;
    }

    aside h2
    {
        margin-left: 20px;
        font-size: 24px;
    }

    .hotel_populaire
    {
        width: auto;
        margin: 20px;
    }

    .etoile_populaire1
    {
        margin-top: 75px;
    }

    .etoile_populaire2
    {
        margin-top: 60px;
    }


    /* Hébergements à Marseille */

    #section_2
    {
        flex-direction: column;
    }

    #hebergement_ancre 
    {
        font-size: 24px;
    }

    #hebergements a
    {
        width: 100%;
        margin: 0 auto;
    }

    .hotel
    {
        width: auto;
        background-color: white;
    }

    .hotel:nth-child(1)
    {
        order: 2;
    }

    .hotel_flex
    {
        height: 230px;
    }

    .hotel_flex h3
    {
        font-size: 16px;
    }

    .hotel_flex p
    {
        font-size: 14px;
    }

    .photo_hotel
    {
        width: 100%;
        height: 150px;
    }


    /* Activités à Marseille */
    #activite_ancre
    {
        font-size: 24px;
        margin-left: 20px;
    }

    #activite_marseille
    {
        height: auto;
        margin-left: 22px;
        font-size: 13px;
    }

    .colonne11
    {
        width: 90%;
    }

    .colonne22
    {
        width: 90%;
    }

    .colonne33
    {
        width: 90%;
    }

    .colonne44
    {
        width: 90%;
    }

    .activite1,
    .activite2,
    .activite3,
    .activite4,
    .activite5,
    .activite6
    {
        width: 100%;
        height: 230px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .photo_activite1,
    .photo_activite2,
    .photo_activite3,
    .photo_activite4,
    .photo_activite5,
    .photo_activite6
    {
        width: 100%;
        height: 180px;
    }



    /* Footer */
    footer
    {   
        flex-direction: column;
        margin-top: 20px;
    }

    footer h3
    {
        font-size: 16px;
    }

    footer li
    {
        font-size: 14px;
    }
}